


<div class="header">
    <nav class="header_top">
      <div class="header_menu">
        <div class="header_menu_icon" >
          <mat-icon data-bs-toggle="offcanvas" href="#offcanvasExample">menu</mat-icon>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header  " style="background-color: #0d033d">
              <h2 style="font-weight: bold; color: white; " class="offcanvas-title " id="offcanvasExampleLabel">Hello User !</h2>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
           <div class="menu">
            <ul class="menu_class ">
              <li class="menu_title">Trending</li>
              <li class="menu_item">Best Sellers</li>
              <li class="menu_item">New releases</li>
              

              <li class="menu_item">Movers and Shakers</li>

              <li class="menu_title">Digital Content and Devices</li>

              <li class="menu_item">Echo & Alexa</li>
              <li class="menu_item">Free Tv</li>
              <li class="menu_item">Kindle E-Readers & eBooks</li>
              <li class="menu_item">Audible Audiobooks</li>
              <li class="menu_title">Shop by Category</li>
              <li class="menu_item">Mobiles, Computers</li>
              <li class="menu_item">TV, Appliances, Electronics</li>
              <li class="menu_item">Men's Fashion</li>
              <li class="menu_item">Women's Fashion</li>
              <li class="menu_title">Programs & Features</li>
              <li class="menu_item">Amazon Pay</li>
              <li class="menu_item">Gift Cards</li>
              <li class="menu_item">Amazon Launchpad</li>
              <li class="menu_item">Amazon Business</li>
              <li class="menu_title">Help & Settings</li>
              <li class="menu_item">Your Account</li>
              <li class="menu_item">Customer care</li>
              <li class="menu_item">Sign in</li>


















              <li class="menu_item"></li>

            </ul>
           </div>
            </div>
          </div>
        </div>
  
        <img src="../assets/amazon_PNG11.png" class="header_menu_logo" alt="" routerLink="products"> 
        
        <img src="../assets/indian_flag.jpg" class="header_menu_flag"> 
  
  
        
        <div class="header_menu_location">
          <mat-icon>place</mat-icon>
        </div>
        <div class="header_menu_signin">
          <span class="header_menu_top_item">
            Delivering to
          </span>
          <span class="header_menu_bottom_item">
            Update location
          </span>
        </div>
        
        
        
      <div class="header_menu_searchbar" >
        <input type="text" class="header_menu_input"  [(ngModel)]="searchTerm" (keyup)="search($event)"   placeholder="Search Amazon.in">
        <div class="header_menu_searchbar_icon">
          <mat-icon>search</mat-icon>
        </div>
      </div>
  
  
      <div class="header_menu_signin" routerLink="login" style="cursor: pointer;">
        <span class="header_menu_top_item" >
          Hello,sign In 
        </span>
        <span class="header_menu_bottom_item">
          Account&Lists
        </span>
      </div>

      <!-- <button class="btn btn-primary  " id="sign" routerLink="./login">SignIn</button> -->
  
      <div class="header_menu_signin">
        <span class="header_menu_top_item">
          Returns
        </span>
        <span class="header_menu_bottom_item">
         & Orders
        </span>
  
      </div>
      
    
      <div class="header_menu_cart">
        <mat-icon routerLink="cart">shopping_cart</mat-icon>
        <p class="header_cart_number">{{totalItem}}</p>
      </div>
  
     </div> 
    </nav>

    
    
    
   